[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "arcpy"]
	path = arcpy
	url = https://github.com/mkoohafkan/arcpy
[submodule "cder"]
	path = cder
	url = https://github.com/mkoohafkan/cder
[submodule "cimir"]
	path = cimir
	url = https://github.com/mkoohafkan/cimir
[submodule "hdfqlr"]
	path = hdfqlr
	url = https://github.com/mkoohafkan/hdfqlr
[submodule "kfigr"]
	path = kfigr
	url = https://github.com/mkoohafkan/kfigr
[submodule "reval"]
	path = reval
	url = https://github.com/mkoohafkan/reval
[submodule "rivr"]
	path = rivr
	url = https://github.com/mkoohafkan/rivr
