[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cder"]
	path = cder
	url = https://github.com/mkoohafkan/cder
	shallow = true
	registered = true
[submodule "cimir"]
	path = cimir
	url = https://github.com/mkoohafkan/cimir
	shallow = true
	registered = true
[submodule "kfigr"]
	path = kfigr
	url = https://github.com/mkoohafkan/kfigr
	shallow = true
	registered = true
[submodule "rivr"]
	path = rivr
	url = https://github.com/mkoohafkan/rivr
	shallow = true
	registered = true
